/* Enter your custom CSS here */
body{
	font-family: "Kalimati", Verdana, sans-serif;
	padding-right: 110px;
	color: #666666;
}

/*Header*/
header{
	margin-top: 25px;
	text-align: center;
	padding-left: 54px;
}

h1{
	font-size: 3.445em;
	font-weight: 500;
}

h2{
	color: #f07c17;
	font-weight: bold;
	font-size: 1.7em
}

/* aside col*/
aside{
	margin-left: 27px;
}

.top-space{
	padding-top: 21px;
}

.features-box{
	margin-top: 31px;
	padding: 8px 29px 32px;
	border: 1px solid #ccc;
	line-height: 2;
}

.features-box h2{
	padding-bottom: 22px;
}

.features-box li{
	font-size: 1.14em;
}

/*article main col*/
.parag-heading{
	padding: 0 0 22px 1px;
}

article p{
	font-size: 1.15em;
	line-height: 1.75;
}
